*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* add google font */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');



/* Nav Related Style Here Start */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
}
.nav-title{
    color:#181818;
    font-size:45px;
    font-weight: 800;
}
.nav-title span{
    color:#FD6E0A;
}
.btn-primary{
    font-weight: 700;
    background:#FD6E0A;
    border-radius: 5px;
    border:0;
    color:wheat;
    font-size: 20px;
    font-weight: 700;
    padding:15px 35px;

}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}

/*Header Style Start Here*/

.header{
    background:#FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    

}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title{
    font-size:60px;
    font-weight: 700px;
    margin-bottom: 20px;;

}
.banner-para{
    padding:10px;
    justify-content: last baseline;
    margin-bottom: 10px;;
}
#banner-btn{
    background:none;
    color:black;
    margin-left:20px;
    border: 1px solid gray;;
}